.itemDetailContainer{
    margin: auto;
    max-width: 1440px;
    .itemDetail{
        display: flex;
        width: 100%;

        .item-detail__components{
            background-color: #fff;
            width: 60%;
            margin: auto;
            height: 60vh;
            margin-left: 1rem;
            padding: 1rem;
            box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.47);
            -webkit-box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.47);
            -moz-box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.47);
            border-radius: 1rem;
        }
    
        .itemDetail__images{
            background-color: #fff;
            width: 40%;
            display: flex;
            margin: auto;
            padding: 2rem;
            height: 60vh;
            box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.47);
            -webkit-box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.47);
            -moz-box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.47);
            border-radius: 1rem;
            
            
            img{
                margin: auto;
                height: 60%;
                
            }

        }
    
        .itemDetail__text{
           padding: 1rem;

        }
    }
    
}
