.formContact-container{
    max-width: 1440px;
    margin: auto;
    position:relative;
    

    form{
        max-width: 600px;
        height: 60vh;
        padding: 4rem;
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: auto;
        align-items:center;
        background-color: #fff;
        border-radius: 1rem;
        box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.47);
        -webkit-box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.47);
        -moz-box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.47);            
    
        h2{
            margin-bottom: 2rem;
        }
        

        .formContact-container__input{
            width:80%;
            background:rgba(255, 255, 255, 0.404);
            margin-bottom: 1rem;
            border-radius:.5rem;
            color:black;


            &:last-child{
                color:black;
                margin: auto;
            }
        }

        .formContact-container__button{
            color:var(--orangeLight);
            width: 10rem;
            -webkit-box-shadow: 5px 11px 15px -9px rgba(0,0,0,0.46); 
            box-shadow: 5px 11px 15px -9px rgba(0,0,0,0.46);
        }


    }



}