.itemDetailContainer{
    max-width: 1400px;
    padding: 2rem;
    border-radius: 1rem;
    .itemDetail{
        display: grid;
        margin: auto;
        width: 100%;
        grid-template-areas: " links links " "images components";
        grid-template-columns: 2fr 3fr;
        grid-template-rows: 1fr 10fr;
    
        .links{
            grid-area: links;
        }
        .itemDetail__images{
            grid-area: images;
            width: 100%;

        }
    
        .item-detail__components{
            grid-area: components;
            width: 70%;

            .itemDetail__info{
                h2{
                    margin-bottom: 2rem;
                }

                .prevPrice{
                    text-decoration:line-through;
                    font-size: 1.2rem;
                    color: #696966
                }

                .offer{
                    display: flex;
                    margin: .5rem 0 .5rem 0;
                    .price{
                        margin-right: 2rem;
                        font-size: 2.2rem;
                        font-weight: 700;
                        margin-right: 1rem;
           

                    }
                    .offerPercent{
                        color: #616161;
                        font-size: 1.2rem;    
                        margin: auto 0;          
                    }
                }

                .cuotas{
                    font-weight: 600;
                    margin-bottom: 2rem;
                }
            }
        }

        .itemDetail__add{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin-top: 2rem;

            .itemDetail__stockCount{
                display: flex;
                flex-direction: column;
                align-items: center;
                .button-stockCount{
                    width: 10vw;
                    margin: 1rem 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: rgb(230, 230, 230);
                    border-radius: 1rem;
                    button{
                        color:var(--orangeLight);
                        font-weight: 600;
                        border-radius:   1rem 0 0 1rem ;

                        &:last-child{
                        border-radius:  0 1rem 1rem 0;

                        }

                    }
                }
            }

            .itemDetail__agregarAlCarrito{
                margin-top: 2rem;
                width: 20vw;
                background-color: var(--beigex);
                color:var(--orangeLight);
                border-radius: .5rem;
            }

            .MuiAlert-filled{
                width: 10vw;
            }
        }

        .itemDetail__buttons{
            margin-top: 10vh;
            display: flex;
            flex-direction: column;
            button{

            }
            .itemDetail__buttons-btn{
                width: 20vw;
                margin: 1rem auto;
                background-color: var(--orangeLight);
                border-radius: .5rem;
                a{
                    color:#fff;
                }

                &:last-child{

                    background-color: var(--beigex);
                    a{
                        color:var(--orangeLight);
                    }
                }
            }
        }
    }
}