.itemDetailContainer{
    max-width: 1400px;
    margin: auto;
    padding: 2rem;
    box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.47);
    -webkit-box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.47);
    -moz-box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.47);            
    background-color: #fff;
    border-radius: 1rem;
}