.header-container__links{
    .header-container__links-btn{
        color: black;
        font-weight: 500;
    
        .header-container__links-carrito{
            font-size:1rem;
            
        }
    
        p{
            padding:.1rem .6rem;
            border-radius: 1rem;
            background-color: red;
            color:#fff;
            font-weight: bold;
        }
    }
}




@media screen and (min-width:451px) {
    .header-container__links-btn{
        margin:auto;
        margin-right: 2rem;
        .header-container__links-carrito{
            margin:auto;
            margin-right: 1rem;
            font-size:1.5rem;
        }
        
    }
}
