.header-container__links{
    .header-container__links-btn{
        color: black;
        font-weight: 500;
    
        .header-container__links-carrito{
            font-size:1rem;
            
        }
    
        p{
            padding:.1rem .6rem;
            border-radius: 1rem;
            background-color: red;
            color:#fff;
            font-weight: bold;
        }
    }
}


@media screen and (min-width:451px) {
    .header-container__links-btn{
        margin:auto;
        margin-right: 2rem;
        .header-container__links-carrito{
            margin:auto;
            margin-right: 1rem;
            font-size:1.5rem;
        }
        
    }
}

.cartWidget-container{
    display:flex; 
    flex-direction:column;
    padding: 0;
    margin: 0;
    
    .cartWidget-container__item{
        
        display: grid;
        grid-template-columns: 3fr 1fr;
        -webkit-box-shadow: 0px 9px 6px -11px rgba(0,0,0,0.55); 
        box-shadow: 0px 9px 6px -11px rgba(0,0,0,0.55);
        overflow: hidden;
        img{
            height: 5rem;
            max-width: 5rem;
            
        }

        .cartWidget__item-left{

            height: 7rem;
            padding: .5rem;
            position: relative;
            img{
                margin: .5rem;
            }

            .cartWidget__item-title{
                position: absolute;
                top: 1rem;
                left: 8rem;

            }
            .cartWidget__item-stock{
                position: absolute;
                top: 3rem;
                left: 8rem;
            }
        }

        .cartWidget__item-right{
            display: flex;
            .cartWidget__item-price{
                margin: auto;
                font-weight:600;
            }

            button{
                color:var(--orange);
            }
        }


    }

    .header-container__pay{
        margin: auto;
        background-color: var(--orangeLight);
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: -2rem;
        border-radius: 0 0 1rem 1rem;
        button{
            width: 100%;
            border-radius: 0 0 1rem 1rem;
            .header-container__pay-link{
                color:#fff;
                width: 100%;
            }
            
        }
        
    }

    .no-products{
        margin: .5rem;
    }

}
