main{
    .main-container{
        max-width: 450px;
        margin: auto;
        .main-container__item-list-container{
            margin: auto;
        }
    }
}

@media screen and (min-width:451px) {
    main{
        .main-container{
            max-width: 1440px;
            .main-container__item-list-container{
                display: flex;
                margin: auto;
                flex-wrap: wrap;
                align-items: flex-start;
                justify-content: flex-start;
               .card-item{
                   margin-right: 1rem;
               }           
            }
        }
    }
}

/*SKELETON*/
main{
    .skeleton-container{
        width: 70%;
        margin: auto;
        .skeleton-body{
            position: relative;
            height: 40rem;
            margin-top: -8rem;
                .skeleton-main{ 
                    width: 80%;
                    height: 100%;
                    top:0;
                    position: absolute;
                }
                .skeleton-image{
                    position: absolute;
                    width: 55%;
                    height: 60%;
                    top:5rem;
                    left:12.5%;
                    position: absolute;

                }
                .skeleton-info{
                    position: absolute;
                    width: 55%;
                    height: 8rem;
                    left:12.5%;
                    top: 24rem;
                }
                // .skeleton-button{
                //     position: absolute;
                //     margin-top:-1rem;
                //     margin-left: 6rem;
                //     width: 40%;
                //     height: 3rem;
                // }
        }
    }
}

@media screen and (max-width:1200px) {
    main{
        .skeleton-container{
            margin: auto;
            width: 100%;
            margin: 1rem 2rem;
        }
    }    
}