.loginPage-container{
    max-width: 600px;
    height: 60vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    justify-content: space-around;
    border-radius: 1rem;
    box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.47);
    -webkit-box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.47);
    -moz-box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.47);            
    padding: 4rem;
    input{
        width: 20rem;
    }

    .divider{
        display: flex;

        span{
            height: 1px;
            background-color: var(--grisClaro);
            width: 10rem;
            margin: auto .2rem;
        }
        p{
            color:var(--grisClaro);
        }
    }


}