.userRegisterPage-container{
    max-width: 600px;
    height: 60vh;
    margin: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    padding: 4rem;
    border-radius: 1rem;
    box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.47);
    -webkit-box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.47);
    -moz-box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.47);   
    .userPage-divider{
        display: flex;
        span{
            height: 1px;
            background-color: var(--grisClaro);
            width: 10rem;
            margin: auto .2rem;
        }
        p{
            color:var(--grisClaro);
        }
    }

    .google{
        margin: auto;
        
    }

}