.header-container{
    max-width: 450px;
    margin: 1rem;
    height: 10vh;
    .header-container__logo{
        display: flex;
        
        
        img{
            height: 50px;
        }

        h1{
            justify-self: flex-end;
            align-self: center;
            font-size: 1.5rem;
            margin: auto;
        }

        .header-container__logo-hamburguesa{
            font-size: 1.5rem;
            margin: auto;
            color: black;
        }
    }

    .header-container__links{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        transition: all .5s ease-in-out;
    }
}



@media screen and (min-width:451px) {
    .header-container{
        max-width: 1440px;
        display: grid;
        grid-template-areas: "logo ... links";
        margin:1rem auto;
        .header-container__logo{
            max-width:30%;
            grid-area: logo;
            h1{
                margin: auto 1rem;
            }
            img{
                height:  75%;
            }
            .header-container__logo-hamburguesa{
                display: none;
            }
          
        }
    
        .header-container__links{
            width: 100%;
            flex-direction: row;
            grid-area: links;
            justify-self: flex-end;
           
            
            .header-container__links-link{
                margin:auto;
                margin-right: 2rem;
                position:relative;

                button{
                    color:#000;
                }

                p{
                    left:2.5rem;
                    top:.4rem;
                    font-size:.7rem;
                }

                .header-container__links-user{
                    font-size:1.8rem;
                    margin-left: -1rem;
                    margin: auto;
                }
                
            }

            .header-container__links-cartWidget{
                color:#000;
            }
        }
    }
}

@media screen and (min-width:451px) and (max-width:1000px){
    .header-container{
        .header-container__links{
            justify-self:normal;
            
            .header-container__links-link{
                margin-right:.5rem;
            }
        }
    }
}