/*CATEGORY PAGE*/

.categorys-container{
    max-width:1440px;
    margin:auto;
    .categorys-container__links{
        margin:auto;
        padding:1rem;
        display:flex;
        flex-wrap:wrap;
        .categorys-container__link{
            margin:auto;
            
            p{
                margin:auto .4rem;
                font-size:1rem;
            }
            svg{
                margin:auto;
                font-size:1rem;
            }
        }
    }

    .categorys-container__skeleton{
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        span{
            width: 150px;
            height: 40px;
            margin: 1rem;

        }
    }
}